body{
    margin: 0 auto;
    background-color: #020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    width: 375px;
}
main{
    background-color: #fff;
}
header, nav{
    background-color: #030ABC;
}
header{
    grid-row: 2/3;
}
nav{
    grid-row: 1/2;
}
nav li{
    list-style: none;
}
#playlists{
    background-color: #2699FB;
}
#playlists section{
    background-color: #0D8DFB;
}
#curated{
    background-color: #020873;
}
#curated section{
    background-color: #020659;
}
footer{
    background-color: #fff;
}
h1 {
    font-size:1.25em;
}
h2, h3 {
    font-size: 1em;
}
p, dl, dd {
    font-size: 1em;
}
footer p {
    font-size: .75em;
}
section a{
    background-color: #590242;
    color: #fff;
    text-decoration: none;
}
